<!DOCTYPE html>
<html>
   {% include head.html %}
    <body>
      {% include main-menu.html %}
      	<div class="hero-bg">
       {% include breadcrumb.html %}
          {{ content }}     
        {% include footer.html %}
    </body>
</html>
