---
layout: default
---

       <div class="page-heading">
       		{% if page.title == 'Contact' %}{% include maps.html %}{% endif %}
       		{% if page.categories == 'energy-research' %}<img class="page-head-bg animated fadeIn" src="{{ site.baseurl }}/img/energyresearch/{{ page.img }}.jpg" alt="">{% endif %}
       		{% if page.categories == 'solar-solution' %}<img class="page-head-bg animated fadeIn" src="{{ site.baseurl }}/img/solar-solution/{{ page.img }}.jpg" alt="">{% endif %}
			<div {% if page.title == 'Contact' %}id="Contact-hide"{% endif %} class="container"><h1>{{ page.title }}</h1></div>
		</div>

		{% if page.categories == 'energy-research' %}{% include ermenu.html %}{% endif %}
		{% if page.categories == 'solar-solution' %}{% include ssmenu.html %}{% endif %}
		
		</div>

		<section class="space">
			<div class="container">
	           {{ content }}
	        </div>
		</section>
