---
layout: page
title:  "Hydro Power or Water Power"
categories: energy-research
sub: projects
path: hydro-power
img: hydro-power
---


<div class="col-md-8 col-md-offset-2 text-left">

<p class="lead">
Hydro-power or water power is power derived from the energy of falling water and running water, which may be harnessed for useful purposes. Since ancient times, hydro-power has been used for irrigation and the operation of various mechanical devices, such as watermills, sawmills, textile mills, dock cranes, domestic lifts, power houses and paint making.
</p>

<p class="lead">
Since the early 20th century, the term has been used almost exclusively in conjunction with the modern development of hydro-electric power, which allowed use of distant energy sources. Another method used to transmit energy is by using a trompe, which produces compressed air from falling water. Compressed air could then be piped to power other machinery at a distance from the waterfall. Hydro power is a renewable energy source.
</p>

<p class="lead">
Water’s power is manifested in hydrology, by the forces of water on the riverbed and banks of a river. When a river is in flood, it is at its most powerful, and moves the greatest amount of sediment. This higher force results in the removal of sediment and other material from the riverbed and banks of the river, locally causing erosion, transport and, with lower flow, sedimentation downstream.
</p>


</div>