.featurette {
	padding: 60px 0;
	overflow: hidden;

	h2 {
		padding-top: 60px;
	}

	i {
		color: #2ecc71;
	}
}

#purpose {
	background-color: #4CAF50;

	.lead, .featurette-heading {
		color: #fff;
	}

	.text-muted {
		color: #444;
	}
}

.wrei {
	padding-top: 10px;


	li {
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
		font-size: 1.5rem;
		color: #fff;
	}
}

