.featurette {
	padding: 60px 0;
	overflow: hidden;

	h2 {
		padding-top: 60px;
	}
}

#purpose {
	background: #37abc8;

	.lead, .featurette-heading {
		color: #ECECEC;
	}

	.text-muted {
		color: #444;
	}
}


