.footer {
	background-color: $acent-color-1;
	padding: 60px 0;
	text-align: left;
	color: #ccc;

	h4 {
		padding-bottom: 15px;
		border-bottom: solid 1px rgba(204, 204, 204, 0.18);
	}

	.nav-pills > li > a, p {
		font-size: small;
		color: #ccc;
	}

	a {
		color: #ccc;
	}
}

.navbar-inverse {
	background-color: $acent-color-1;
	border-color: #080808;
}
