.footer {
	background-color: $acent-color-1;
	padding: 60px 0;
	text-align: left;
	color: #ccc;

	h4 {
		padding-bottom: 15px;
		//border-bottom: solid 1px;
	}

	p {
		font-size: 14px;
		line-height: 1.5em;
	}
}

.navbar-inverse {
	background-color: $acent-color-1;
	border-color: #080808;
}