.jumbotron {
	background-color: #37c871;
	background: url(/img/energy-panels.jpg) 50% 50% no-repeat;
	background-size: cover;

	h1 {
		margin: 150px 0;
		color: #fff;
		text-shadow: 2px 2px 5px #000;
		font-family: sans-serif;
		font-weight: bold;
	}
}