.page-heading {
	background-color: #37c871;
	text-align: left;

	h1 {
		padding: 3.7em 0;
	}
}

.news-page {
	margin: 60px 0;
	text-align: left;

	.post {
		margin-bottom: 60px;
	}
}

.blog-img {
	background: url(/img/blog.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}