.page-heading {
	background-color: #37c871;
	position: relative;
    background: linear-gradient(135deg, $main-acent-color, $acent-color-3);
    text-align: center;
	color: #fff;
	text-shadow: 0 0 5px #000;
	overflow: hidden;

	h1 {
		padding: 3.7em 0;
		position: relative;
		z-index: 3;
	}
}

.news-page {
	margin: 60px 0;
	text-align: left;

	.post {
		margin-bottom: 60px;
	}
}

