.page-heading {
	position: relative;
    text-align: center;
	color: #fff;
	text-shadow: 0 0 5px #000;
	overflow: hidden;

	h1 {
		padding: 5em 0;
		position: relative;
		z-index: 3;
	}
}

.overlay {
	//background-color: rgba(black, 0.2);
	background: url(/img/dot.png);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.news-page {
	margin: 60px 0;
	text-align: left;

	.post {
		margin-bottom: 60px;
	}

	.post-img-title {
		position: relative;

		.title {
			position: absolute;
			margin: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
			z-index: 3;
		}

		.overlay {
			background-color: rgba(black, 0.5);

			&:hover {
				background-color: rgba(black, 0.88);
			}
		}
	}

	.post-thumbnail {
		width: 100%;
		height: 300px;
	}



	.post-footer {
		i {
			padding: 0 5px;
		}
	}
}

.post-author-face {
	width: 100px;
	height: 100px;
	margin: -50px auto;
	border-radius: 50%;
	border: solid 5px $background-color;
	z-index: 10;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}


.padtop50 {
	padding-top: 50px;
}

.btn-primary {
	background-color: #2ecc71;
	border-radius: 0;
	border: none;

	&:hover {
		background-color: #27ae60;
	}
}


@media (max-width: 700px) {
	.page-heading {
		h1 {
			padding: 75px 0;
		}
	}
}
