.notify {
	background: rgba(0, 0, 0, 0.9);
	padding: 5px 20px;
	position: fixed;
	z-index: 99999;
	bottom: 10%;
	left: 3%;
	border-radius: 5px;
	text-align: left;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
	transform: translateX(-200%);
	transition: all 0.5s ease-in-out;
	opacity: 0;

	p, h4, .theEmail {
		color: #fff;
		padding-left: 15%;
	}

	h4 {
		text-transform: capitalize;
	}

	span {
		position: absolute;
		left: 5%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.notifyShow {
	transform: translateX(0%);
	opacity: 1;

	.fa-exclamation-triangle {
		color: red;
	}
}


@media (max-width: $mobile) {
	.notify {
		p, h4, .theEmail {
			font-size: 10px !important;
		}
	}
}
