---
layout: page
title:  "Cogeneration Power"
categories: energy-research
sub: projects
path: cogeneration-power
img: cogeneration-power
---


<div class="col-md-8 col-md-offset-2 text-left">

<p class="lead">
Cogeneration or combined heat and power (CHP) is the use of a heat engine or power station to simultaneously generate electricity and useful heat. Trigeneration or combined cooling, heat and power (CCHP) refers to the simultaneous generation of electricity and useful heating and cooling from the combustion of a fuel or a solar heat collector.
</p>

<p class="lead">
Cogeneration is a thermodynamically efficient use of fuel. In separate production of electricity, some energy must be discarded as waste heat, but in cogeneration this thermal energy is put to use. All thermal power plants emit heat during electricity generation, which can be released into the natural environment through cooling towers, flue gas, or by other means. In contrast, CHP captures some or all of the by-product for heating, either very close to the plant, or—especially in Scandinavia and Eastern Europe—as hot water for district heating with temperatures ranging from approximately 80 to 130 °C. This is also called combined heat and power district heating (CHPDH). Small CHP plants are an example of decentralized energy. By-product heat at moderate temperatures (100–180 °C, 212–356 °F) can also be used in absorption refrigerators for cooling.
</p>

<p class="lead">
The supply of high-temperature heat first drives a gas or steam turbine-powered generator and the resulting low-temperature waste heat is then used for water or space heating as described in cogeneration. At smaller scales (typically below 1 MW) a gas engine or diesel engine may be used. Trigeneration differs from cogeneration in that the waste heat is used for both heating and cooling, typically in an absorption refrigerator. CCHP systems can attain higher overall efficiencies than cogeneration or traditional power plants. In the United States, the application of trigeneration in buildings is called building cooling, heating and power (BCHP). Heating and cooling output may operate concurrently or alternately depending on need and system construction.
</p>

<p class="lead">
Cogeneration was practised in some of the earliest installations of electrical generation. Before central stations distributed power, industries generating their own power used exhaust steam for process heating. Large office and apartment buildings, hotels and stores commonly generated their own power and used waste steam for building heat. Due to the high cost of early purchased power, these CHP operations continued for many years after utility electricity became available.
</p>


</div>