---
layout: page
title: Contact
---


	
	<form class="main-form col-md-6 col-md-offset-3 contact" action="//formspree.io/{{ site.data.contact.email }}" method="POST">
 
          <div class="form-group cname">
            <label><i class="fa fa-user"></i> Your Name</label>
            <input name="name" class="form-control" required="" placeholder="james brown" onfocus="this.placeholder = ''" onblur="this.placeholder = 'james brown'" type="text">
          </div>

          <div class="form-group cemail">
            <label><i class="fa fa-envelope"></i> Your Email</label>
            <input id="email" class="form-control" name="_replyto" required="" placeholder="your-email@domain.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'your-email@domain.com'" type="email">
          </div>

          <div class="form-group">
            <label><i class="fa fa-comment"></i> Message</label>
            <textarea type="text" name="message" class="form-control" required=""></textarea>
          </div>

            <input class="btn btn-default" value="Send Message" type="submit">
        </form>


