---
layout: page
title:  "Biological Power"
categories: energy-research
sub: projects
path: biological-power
img: biological-power
---


<div class="col-md-8 col-md-offset-2 text-left">

	<div class="lead">{{ site.data.projects-energy-research.biological-power }}</div>

</div>