---
layout: page
title:  "Tidal Power"
categories: energy-research
sub: projects
path: tidal-power
img: tidal-power
---


<div class="col-md-8 col-md-offset-2 text-left">

	<div class="lead">{{ site.data.projects-energy-research.tidal-power }}</div>

</div>