---
layout: looppage
title: Events
sub: events
---

	<div class="col-md-8 col-md-offset-2">
		<div class="news-page">

				{% for post in paginator.posts %}

				<div class="post wow fadeIn" data-wow-delay="{% increment variable %}00ms">

					<div class="post-img-title">
						{% if post.thumbnail == null %}
							<h3 class=""><a href="{{ post.url }}">{{ post.title }}</a></h3>
						{% else %}
						<img class="post-thumbnail" src="{{ site.baseurl }}/img/events/{{ post.thumbnail }}" alt="">
						<a href="{{ post.url }}"><div class="overlay"></div></a>
						<h3 class="title text-center">{{ post.title }}</a></h3>
						{% endif %}
					</div>

					{% if post.authorface == null %}

					{% else %}
						<div class="post-author-face"><img src="{{ site.baseurl }}/img/authors/{{ post.authorface }}" alt=""></div>
						<div class="padtop50"></div>
					{% endif %}

					<div class="content">
						<p class="lead">{{ post.excerpt }}</p>
					</div>

					<div class="post-footer">
						<hr>
							<div class="text-center"><i class="fa fa-calendar"> </i> Posted on {{ post.date | date_to_string }} By {{ post.author | capitalize }}</div>
						<hr>
					</div>

				</div>

				{% endfor %}

				<div class="row">
					<div class="col-xs-8">
					  {% if paginator.previous_page %}
					    <a href="{{ paginator.previous_page_path | remove: 'index.html' }}" class="previous btn btn-primary">Previous</a>
					  {% else %}
					    <span class="previous">Previous</span>
					  {% endif %}

					  {% if paginator.next_page %}
					    <a href="{{ paginator.next_page_path }}" class="next btn btn-primary">Next</a>
					  {% else %}
					    <span class="next ">Next</span>
					  {% endif %}
					</div>

					<div class="col-xs-4 text-right">
						<span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
					</div>
				</div>

		</div>
	</div>
