---
layout: page
title: About
---

		
		<div class="col-md-8 col-md-offset-2 text-left">

		<div class="page-header text-center">
		  <h1>G.S.E.T.R.I 
			<br>
		  <small>Grenada Solar Energy Technology Research Institute</small></h1>
		</div>

		<p class="lead">The name was created in September 2013, and Memorandum of Understanding signed between E&R4ZAGRO PRO INT. Inc and UNIDO/ISC/ GNERI Sep 17, 2013– The Peoples Republic of China, in China in September 26th 2013, official registered in October 16th 2014 in Grenada.</p>
		<br><br>
		</div>



		<div class="col-md-8 text-left">
		<div class="row">
		
			<img class="col-md-4 col-xs-12 pull-left" src="/img/icons/200/renewable-energy-s.svg" alt="">

			<p class="lead col-md-8">At this time, as we are seeking the guidance and input of you, your company, Ministry and/or Government, to propose relevant technology, hardware or impute that can meets the perimeters and scope of the venture. Over the years, we have used our private dwelling house to display energy innovation ideas. We are of the opinion that the profile that is required for Grenada to attract promotional aids and grant funding requires a dedicated facility for the cause of Energy Promotion and Research.</p>

		</div>
		</div>
		

		<div class="col-md-10 col-md-offset-2 text-left">
		<br><br>
		<div class="row">

			<img class="col-md-4 col-xs-12 pull-right" src="/img/icons/200/calendar-s.svg" alt="">

			<p class="lead col-md-8">The appropriate energy research as you would appreciate must be done on sound principles of science, engineering and technology. In addition to the abundance of natural resources of our region, our people will be able to quickly build capacity in learning techniques of production and efficiency to make better use of these resources. This facility would be fundamental to our science students, to learn first hand about solar energy applications.</p>

			<p class="lead col-md-8">The facility was registered in Grenada on 0ctober 2013 as an institute for Solar research, training and demonstration centre in collaboration with the UNIDO/ GNERI Gansu Natural Energy Research Institute.</p>
			<br><br>
		</div>
		</div>
		
