---
layout: page
title:  "Wind Power"
categories: energy-research
sub: projects
path: wind-power
img: wind-power
---


<div class="col-md-8 col-md-offset-2 text-left">

<div class="row">
<div class="col-md-8">
<h4 class="text-center">Global Highlights</h4>

<p class="lead">
The market for wind turbines is growing by 20% a year, with no sign of slowing up. The secret is not the technology or the price – it’s the policy. At 7-12 cents US/kWh, wind energy is competitive with most other forms of energy generation. Globally, by 2007, 94 GW of wind capacity had been installed. By the end of 2011 this had increased by 253% to 238 GW.
</p>

<p class="lead">
In 2012, a team of researchers at Stanford University found that wind power could generate up to 1,800 terrawatts of power, which is 100 times the current global power requirement of 18 terrawatts.
</p>
</div>
<img class="col-md-4 hidden-sm hidden-xs" src="{{ site.baseurl }}/img/icons/200/wind-power-s.svg" alt="">
</div>

<div class="row">

<div class="col-md-12 text-center">
<h4>What Does Wind Energy Cost?</h4>
<p class="lead">
Globally, depending on the site, wind energy averages a levelized cost of $70 to $120 MWh (7 to 12 cents/kWh).  In British Columbia, because of mountainous and often remote conditions, the levelized cost for most sites is $90 to $150 per MWh. Canada’s Wind Power Production Incentive of 1 cent/kWh was ended in 2011.
</p>
</div>
<img class="col-md-12 col-sm-12 col-xs-12" src="{{ site.baseurl }}/img/energyresearch/Residential_Wind_Turbine_Installation-Illustration.png" alt="">

</div>

</div>