---
layout: page
title:  "Static electricity"
categories: energy-research
sub: projects
path: static-electricity
img: static-electricity
---

<div class="col-md-8 col-md-offset-2 text-left">

	<div class="lead">{{ site.data.projects-energy-research.static-electricity }}</div>

</div>