<div class="breadcrumb-bar">	
	<div class="container">
		<ol class="breadcrumb">
		  <span>You Are Here: </span> <li><a href="{{site.baseurl}}/">Home</a></li>

			{% if page.sub ==  null %}
			{% else %}
				{% if page.sub == page.sub %}<li><a href="{{ site.baseurl }}/{{ page.sub }}">{{ page.sub }}</a></li>{% endif %}
			{% endif %}

			{% if page.categories ==  null %}
			{% else %}
				{% if page.categories ==  page.categories %}<li><a href="{{ site.baseurl }}/{% if page.sub ==  null %}{% else %}{{ page.sub }}/{% endif %}{{ page.categories }}">{{ page.categories }}</a></li>{% endif %}
			{% endif %}

			{% if page.title ==  null %}
			{% else %}
				{% if page.title ==  page.title %}<li><a href="#">{% if page.title == 'Events' or page.title == site.title %} {% else %} {{ page.title }} {% endif %}</a></li>{% endif %}
			{% endif %}

		</ol>
	</div>
</div>

