<div class="ermenu">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" {% if page.title == 'Static electricity' %}class="active"{% endif %}><a href="static-electricity.html">Static electricity</a></li>
      <li role="presentation" {% if page.title == 'Nuclear Power' %}class="active"{% endif %}><a href="nuclear-power.html">Nuclear Power</a></li>
      <li role="presentation" {% if page.title == 'Biological Power' %}class="active"{% endif %}><a href="biological-power.html">Biological Power</a></li>
      <li role="presentation" {% if page.title == 'Tidal Power' %}class="active"{% endif %}><a href="tidal-power.html">Tidal power</a></li>
      <li role="presentation" {% if page.title == 'Geothermal Energy' %}class="active"{% endif %}><a href="geothermal-energy.html">Geothermal energy</a></li>
      <li role="presentation" {% if page.title == 'Cogeneration Power' %}class="active"{% endif %}><a href="cogeneration-power.html">Cogeneration power</a></li>
      <li role="presentation" {% if page.title == 'Biomass and Biogas Power' %}class="active"{% endif %}><a href="biomass-and-biogas-power.html">Biomass and Biogas power</a></li>
      <li role="presentation" {% if page.title == 'Waste to Energy Power' %}class="active"{% endif %}><a href="waste-to-energy-power.html">Waste to Energy Power</a></li>
      <li role="presentation" {% if page.title == 'A Photovoltaic Power Station' %}class="active"{% endif %}><a href="photovoltaic.html">A photovoltaic power station</a></li>
      <li role="presentation" {% if page.title == 'Hydro Power or Water Power' %}class="active"{% endif %}><a href="hydro-power.html">Hydro power or water power</a></li>
      <li role="presentation" {% if page.title == 'Wind Power' %}class="active"{% endif %}><a href="wind-power.html">Wind power</a></li>
    </ul>
  </div>
</div>