<div class="ermenu">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" {% if page.title == 'Static electricity' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/static-electricity">Static electricity</a></li>
      <li role="presentation" {% if page.title == 'Nuclear Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/nuclear-power">Nuclear Power</a></li>
      <li role="presentation" {% if page.title == 'Biological Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/biological-power">Biological Power</a></li>
      <li role="presentation" {% if page.title == 'Tidal Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/tidal-power">Tidal power</a></li>
      <li role="presentation" {% if page.title == 'Geothermal Energy' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/geothermal-energy">Geothermal energy</a></li>
      <li role="presentation" {% if page.title == 'Cogeneration Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/cogeneration-power">Cogeneration power</a></li>
      <li role="presentation" {% if page.title == 'Biomass and Biogas Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/biomass-and-biogas-power">Biomass and Biogas power</a></li>
      <li role="presentation" {% if page.title == 'Waste to Energy Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/waste-to-energy-power">Waste to Energy Power</a></li>
      <li role="presentation" {% if page.title == 'A Photovoltaic Power Station' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/photovoltaic">A photovoltaic power station</a></li>
      <li role="presentation" {% if page.title == 'Hydro Power or Water Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/hydro-power">Hydro power or water power</a></li>
      <li role="presentation" {% if page.title == 'Wind Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energyresearch/wind-power">Wind power</a></li>
    </ul>
  </div>
</div>