<div class="ermenu">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" {% if page.title == 'Static electricity' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/static-electricity">Static electricity</a></li>
      <li role="presentation" {% if page.title == 'Nuclear Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/nuclear-power">Nuclear Power</a></li>
      <li role="presentation" {% if page.title == 'Biological Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/biological-power">Biological Power</a></li>
      <li role="presentation" {% if page.title == 'Tidal Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/tidal-power">Tidal power</a></li>
      <li role="presentation" {% if page.title == 'Geothermal Energy' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/geothermal-energy">Geothermal energy</a></li>
      <li role="presentation" {% if page.title == 'Cogeneration Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/cogeneration-power">Cogeneration power</a></li>
      <li role="presentation" {% if page.title == 'Biomass and Biogas Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/biomass-and-biogas-power">Biomass and Biogas power</a></li>
      <li role="presentation" {% if page.title == 'Waste to Energy Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/waste-to-energy-power">Waste to Energy Power</a></li>
      <li role="presentation" {% if page.title == 'A Photovoltaic Power Station' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/photovoltaic">A photovoltaic power station</a></li>
      <li role="presentation" {% if page.title == 'Hydro Power or Water Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/hydro-power">Hydro power or water power</a></li>
      <li role="presentation" {% if page.title == 'Wind Power' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/energy-research/wind-power">Wind power</a></li>
    </ul>
  </div>
</div>