	
	{% if page.title == 'Contact' %}
	<div class="featurette" id="purpose">
        <div class="container">
            <div class="content">
                <div class=" ">
                    <h2 class="featurette-heading"><i class="fa fa-leaf"></i> Get in Touch </h2>
                    	<br>
                        <div class="text-muted ">We're currently accepting new client.</div>
                </div>
            </div>
        </div>
    </div>	
    <script src="{{ site.baseurl }}/contact/contact.js"></script>
    {% endif %}

    <script>
    	new WOW().init();
    </script>

<footer>
	<div class="footer">
		
		<div class="container">

			<div class="row">
			
				<div class="col-md-4">
				 	<h4><i class="fa fa-users"></i> About</h4>
				 	<p>
				 		Grenada Solar Research Institute for Technology Promotion and Transfer, innovation, scientific demonstrations, and Scientific research. Affiliates / Independent International Research
				 	</p>
				</div>

				
				<div class="col-md-4">
					<h4><i class="fa fa-bar-chart"></i> Projects</h4>
				  	<ul class="nav nav-pills ">
				  	{% for projectsmenu in site.data.mainmenu.projectsmenu %}
					  <li role="presentation"><a href="{{ site.baseurl }}/{{ projectsmenu.link }}">{{ projectsmenu.title }}</a></li>
					{% endfor %}
					</ul>
				</div>

				<div class="col-md-4">
				  	<address>
					  <h4><i class="fa fa-comments"></i> Contact Us</h4>
					  {{ site.data.contact.country }} <br>
					  PO BOX {{ site.data.contact.pobox }}, <br> 
					  {{ site.data.contact.city }}.{{ site.data.contact.country }}.WI <br>
					  <abbr title="Phone"> P: </abbr> {{ site.data.contact.phone }}  
					</address>

					<address>
					  <strong>{{ site.data.contact.company }}</strong><br>
					  <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
					</address>
				</div>

			</div>

		</div>

	</div>
	<nav class="navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed hidden-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text">Copyright © 2014 GSETRI All Rights Reserved</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse hidden-sm" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for main in site.data.mainmenu.main %}
        <li><a href="{{ site.baseurl }}/{{ main.link }}"><i class="fa fa-{{ main.icon }}" title="{{ main.title }}"></i></a></li>
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</footer>