<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png"/>
    
    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/_bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/_bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/_bower_components/wowjs/css/libs/animate.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/scripts.js -->
    <script src="{{ site.baseurl }}/_bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/_bower_components/wowjs/dist/wow.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <!-- endbuild -->
</head>
{% include notification.html %}