
	<div class="featurette" id="about">
		<div class="container">
			<div class="content">
         	<img class="featurette-image  img-responsive col-md-4 col-sm-6 col-xs-12 pull-right wow bounceIn" src="{{ site.baseurl }}/img/icons/300/renewable-energy.svg"> 
         		<div class="col-md-8 col-sm-6 col-xs-12 wow fadeInLeft">
         			<h2 class="featurette-heading text-left"><i class="fa fa-leaf"></i> What is
             			<span class="text-muted ">Renewable Energy?</span>
         			</h2>
         			<p class="lead text-left"> Renewable energy is energy generated from natural resources—such as sunlight, wind, rain , tides and geothermal heat—which are renewable (naturally replenished). Renewable energy technologies range from solar power, wind power, hydroelectricity/micro hydro, biomass and biofuels for transportation. <a class="#">Learn more</a></p>
         		</div>
			</div>
		</div>
    </div>

    <div class="featurette" id="purpose">
        <div class="container">
            <div class="content">
                <div class=" ">
                    <h2 class="featurette-heading wow fadeInDown"><i class="fa fa-leaf"></i> The Purpose of
                        <span class="text-muted ">Renewable Energy</span>
                    </h2>
                    <p class="lead wow fadeInUp"> Grenada Innovative Renewable Energy Solution Center For Technology Promotion and Transfer in Developing Communities. <a class="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="featurette" id="classification">
        <div class="container">
            <div class="content">
            <img class="featurette-image  img-responsive col-md-4 col-sm-6 col-xs-12 wow bounceIn" src="{{ site.baseurl }}/img/icons/300/class.svg"> 
                <div class="col-md-8 col-sm-6 col-xs-12 wow fadeInRight">
                    <h2 class="featurette-heading text-left"><i class="fa fa-leaf"></i> The Classification of
                        <span class="text-muted ">Renewable Energy</span>
                    </h2>
                    <p class="lead text-left"> Educational/Community development-Demonstration/Research, institution for Public/Private solar Training/Product Development, Test center. <a class="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="featurette" id="purpose">
        <div class="container">
            <div class="content">
                <div class=" ">
                    <h2 class="featurette-heading wow fadeIn"><i class="fa fa-leaf"></i> Why is Renwable Eneregy 
                        <span class="text-muted ">Important</span>
                    </h2>
                    <ul class="wrei">
                        <li class="wow fadeInRight" data-wow-delay=".20s">Environmental Benefits</li>
                        <li class="wow fadeInRight" data-wow-delay=".40s">Energy for our children's children's children</li>
                        <li class="wow fadeInRight" data-wow-delay=".60s">Jobs and the Economy</li>
                        <li class="wow fadeInRight" data-wow-delay=".80s">Energy Security</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


		

        


