<nav class="navbar" role="navigation">
  <div id="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">G.S.E.T.R.I</a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          
          <li {% if page.title == 'Grenada Solar Energy Technology Research Institute' %}class="active"{% endif %}><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
          <li {% if page.title == 'Events' %}class="active"{% endif %}><a href="{{ site.baseurl }}/events/"><i class="fa fa-newspaper-o"></i> Events</a></li>
          <li {% if page.title == 'Projects' %}class="active"{% endif %}><a href="{{ site.baseurl }}/projects/"><i class="fa fa-bar-chart"></i> Projects</a></li>
          <li {% if page.title == 'Departments' %}class="active"{% endif %}><a href="{{ site.baseurl }}/departments/"><i class="fa fa-building"></i> Departments</a></li>
          <li {% if page.title == 'About' %}class="active"{% endif %}><a href="{{ site.baseurl }}/about/"><i class="fa fa-users"></i> About</a></li>
          <li {% if page.title == 'Contact' %}class="active"{% endif %}><a href="{{ site.baseurl }}/contact/"><i class="fa fa-comments"></i> Contact</a></li>
      
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>





            