<div style="
    
    background-color: rgba(52, 73, 94, 0.35);
    z-index: 200;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

"> </div>
	
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div style="overflow:hidden;height:500px;width:100%;">
	<div id="gmap_canvas" style="height:500px;width:100%;"></div>
	<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	<a class="google-map-code" href="http://www.trivoo.net/gutscheine/goertz/" id="get-map-data">goertz gutschein</a>
</div>

<script type="text/javascript"> 
    function init_map(){
        var myOptions = {zoom:17,center:new google.maps.LatLng({{ site.data.contact.Latitude }}, {{ site.data.contact.Longitude }} ),
            mapTypeId: google.maps.MapTypeId.ROADMAP};
            map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{ site.data.contact.Latitude }}, {{ site.data.contact.Longitude }} )});
            infowindow = new google.maps.InfoWindow({
                content:"<b>{{ site.data.contact.company }}</b><br/>PO BOX: {{ site.data.contact.pobox }}<br/> {{ site.data.contact.city }}" 
            });
            google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
            infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
</script>
