<div class="ermenu">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" {% if page.title == 'Informational technology' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/informational-technology">Informational technology</a></li>
      <li role="presentation" {% if page.title == 'Transportation applications' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/transportation-applications">Transportation applications</a></li>
      <li role="presentation" {% if page.title == 'Medical solutions' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/medical-solutions">Medical solutions</a></li>
      <li role="presentation" {% if page.title == 'Government solutions' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/government-solutions">Government solutions</a></li>
      <li role="presentation" {% if page.title == 'Educational solutions' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/educational-solutions">Educational solutions</a></li>
      <li role="presentation" {% if page.title == 'Agricultural solutions' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/agricultural-solutions">Agricultural solutions</a></li>
      <li role="presentation" {% if page.title == 'Commercial applications' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/commercial-applications">Commercial applications</a></li>
      <li role="presentation" {% if page.title == 'Home systems' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/home-systems">Home systems</a></li>
      <li role="presentation" {% if page.title == 'Catalogue links Contacts' %}class="active"{% endif %}><a href="{{site.baseurl}}/projects/solar-solution/catalogue-links-contacts">Catalogue links Contacts</a></li>
    </ul>
  </div>
</div>