---
layout: page
title:  "Biomass and Biogas Power"
categories: energy-research
sub: projects
path: biomass-and-biogas-power
img: biomass-and-biogas-power
---


<div class="col-md-8 col-md-offset-2 text-left">

<p class="lead">
Biogas typically refers to a mixture of gases produced by the breakdown of organic matter in the absence of oxygen. Biogas can be produced from regionally available raw materials such as recycled waste. It is a renewable energy source and in many cases exerts a very small carbon footprint.
</p>

<p class="lead">
Biogas is produced by anaerobic digestion with anaerobic bacteria or fermentation of biodegradable materials such as manure, sewage, municipal waste, green waste, plant material, and crops. It is primarily methane (CH4) and carbon dioxide (CO2) and may have small amounts of hydrogen sulphide (H2S), moisture and siloxanes.
</p>

<p class="lead">
The gases methane, hydrogen, and carbon monoxide (CO) can be combusted or oxidized with oxygen. This energy release allows biogas to be used as a fuel; it can be used for any heating purpose, such as cooking. It can also be used in a gas engine to convert the energy in the gas into electricity and heat.
</p>

<p class="lead">
Biogas can be compressed, the same way natural gas is compressed to CNG, and used to power motor vehicles. In the UK, for example, biogas is estimated to have the potential to replace around 17% of vehicle fuel. It qualifies for renewable energy subsidies in some parts of the world. Biogas can be cleaned and upgraded to natural gas standards when it becomes bio methane.
</p>



</div>