---
layout: page
title:  "Waste to Energy Power"
categories: energy-research
sub: projects
path: waste-to-energy-power
img: waste-to-energy-power
---


<div class="col-md-8 col-md-offset-2 text-left">

<p class="lead">
Waste-to-energy or energy-from-waste is the process of generating energy in the form of electricity and/or heat from the incineration of waste. WtE is a form of energy recovery. Most WtE processes produce electricity and/or heat directly through combustion, or produce a combustible fuel commodity, such as methane, methanol, ethanol or synthetic fuels.
</p>

</div>