---
layout: page
title: Departments
---

	<div class="page-header">
	  <h2>There are three major operational units/ Departments with-in the institute 
	  <br>
	  <br>
	  <small>The current aim is to commence operations with some of the elements identified below. We have begun as will climb one step at a time until we have achieved a home grown institute matured to lead by example.</small></h2>
	</div>

	<section class="space dep">
	
	<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-circle" src="{{ site.baseurl }}/img/departments/Picture3.jpg" alt="...">
        <div class="caption">
          <h4>OPERATIONS MANAGEMENT</h4>
          <p class="lead">Unit for operations management, reception, translation and accommodation, office operations, simulation room, conference room, retail outlet.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-circle" src="{{ site.baseurl }}/img/departments/Picture6.jpg" alt="...">
        <div class="caption">
          <h4>RESEARCH LABORATORIES</h4>
          <p class="lead">Unit for Research Laboratories, weather data and environmental, info tect, communication and Design room, control units, process rooms.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-circle" src="{{ site.baseurl }}/img/departments/Picture1.jpg" alt="...">
        <div class="caption">
          <h4>FIELD STUDY</h4>
          <p class="lead">Unit for field study, Work-shop- factory operation for product development hubs, demonstration rooms</p>
        </div>
      </div>
    </div>
  </div>
  </section>

