//var 

$main-acent-color: #2ecc71;
$acent-color-1: #2c3e50;
$acent-color-2: #34495e;


body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background-color: #fff;
}




.lead {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: #444;
}

i {
	color: #2ecc71;
}

.navbar {
	margin-top: 20px;

	a {
		color: #555;
	}
}


.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

.nav .active {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

@media (max-width: 767px)  {

	.nav li>a:hover, li>a:focus {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}

	.nav .active {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}
}




.nav-pills {

	li>a {
		position: relative;
		display: block;
		padding: 15px 7px;
		color: #ccc;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}

@import "elements/index";

//contact form

.main-form {
	margin-top: -200px;
	background: #fff;
	z-index: 300;
	padding: 30px;

	textarea {
		height: 200px;
	}
}

//top main menu bar

.navbar-header .navbar-toggle {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	background: #555;
}

//breadcrumb 

.breadcrumb-bar {
	width: 100%;
	background-color: $acent-color-1;
	padding: 15px 0px;
}

.breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
	text-align: left;
	background-color: $acent-color-1;

	a, span {
		color: #fff;
	}
}

.space {
	margin: 60px 0;
}


.dep .thumbnail {
	background-color: transparent;
	border: none;
}

.dep .thumbnail img {
	max-width: 250px;
}

/// about 

.about {

	img {
		max-height: 300px;
		padding: 20px;
	}
}


//ermenu

.nav-pills>li>a {
	font-size: 1.04rem;
	padding: 10px 5px;
	display: block;
}

.ermenu {
	background-color: $acent-color-1;
	padding: 10px 0;

	.active {
		box-shadow: none;
	}
}


//page img 

.static-electricity-img {
	background: url(/img/energyresearch/static-electricity.jpg) 50% 80% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.nuclear-power-img {
	background: url(/img/energyresearch/nuclear-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.biological-power-img {
	background: url(/img/energyresearch/biological-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.tidal-power-img {
	background: url(/img/energyresearch/tidal-power.jpg) 50% 100% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.geothermal-energy-img {
	background: url(/img/energyresearch/geothermal-energy.jpg) 50% 100% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.cogeneration-power-img {
	background: url(/img/energyresearch/cogeneration-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.biomass-and-biogas-power-img {
	background: url(/img/energyresearch/biomass-and-biogas-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.waste-to-energy-power-img {
	background: url(/img/energyresearch/waste-to-energy-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.hydro-power-img {
	background: url(/img/energyresearch/hydro-power.jpg) 50% 20% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.wind-power-img {
	background: url(/img/energyresearch/wind-power.jpg) 50% 50% /cover no-repeat;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

