//var

$main-acent-color: #2ecc71;
$acent-color-1: #1B232C;
$acent-color-2: #34495e;
$acent-color-3: #3498db;
$background-color: #fff;
$font-color: #777;
$box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
$mobile: 767px;

html, body {
	transition: all .2s ease;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  font-weight: 400;
  text-align: center;
  background-color: $background-color;
  color: $font-color;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hero-bg {
	background-color: $main-acent-color;
	background: linear-gradient(135deg, $main-acent-color, $acent-color-3);
}

.lead {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: $font-color;
}

.caption {

	.lead {
		font-size: 100%;
	}
}

i {
	color: #2ecc71;
}

.navbar {
	margin-top: 20px;

	a {
		color: $font-color;
	}
}


.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

.nav .active {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

@media (max-width: 767px)  {

	.nav li>a:hover, li>a:focus {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}

	.nav .active {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}
}




.nav-pills {

	li>a {
		position: relative;
		display: block;
		padding: 15px 7px;
		color: #ccc;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}

@import "elements/index";

//contact form

.main-form {
	margin-top: -200px;
	background: $background-color;
	z-index: 300;
	padding: 30px;

	textarea {
		height: 200px;
	}
}

//top main menu bar

.navbar-header .navbar-toggle {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	background: $font-color;
}

//breadcrumb

.breadcrumb-bar {
	width: 100%;
	padding: 15px 0px;
}

.breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
	text-align: left;
	background: transparent;

	a, span {
		color: #fff;
	}
}

.space {
	margin: 60px 0;
}


.dep .thumbnail {
	background-color: transparent;
	border: none;
}

.dep .thumbnail img {
	max-width: 150px;
}

/// about

.about {

	img {
		max-height: 300px;
		padding: 20px;
	}
}


//ermenu

.nav-pills>li>a {
	font-size: 14px;
	padding: 7px 5px;
	display: block;
}

.ermenu {
	padding: 10px 0;

	.nav-pills>li>a {
		font-size: 1.04rem;
		color: #fff;
	}

	.active {
		box-shadow: none;
	}
}


.head-img {
	background: url(/img/energy-panels.jpg) 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	box-shadow: 1px 1px #000;
}

.gototop {
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.95);
	z-index: 999;
	margin: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	border-radius: 0;
}

//page head-img


.page-head-bg {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	//transform: translateY(30%);
	transition: all .05s ease;
}

p {
	font-size: 1.6rem;
    line-height: 1.8em;
    color: $font-color;

	img {
		width: 100%;
	}
}

@media (max-width: 767px) {

	.featurette-image {
	    width: 300px;
	    float: none !important;
	    margin: 0 auto;
	}

}

.text-copyright {
	a {
		color: #9d9d9d;
		text-decoration: none;
	}
}

a:hover {
	cursor: pointer;
}

.close {
	margin: 20px;

	i {
		color: #fff;
	}
}

#search-container {
	background: #3d566e;
	display: none;

	.inputbox {
		top: 50vh;
		transform: translateY(-10vh);
		transition: all 0.3s ease-in-out;
	}

	#search-input {
		width: 100%;
		background: none;
		border: none;
		border-bottom: solid 1px #fff;
		font-size: 3em;
		padding: 2px 20px;
		transition: all 0.3s ease-in-out;

		&:focus, &:active {
			border: none;
			border-bottom: solid 1px #fff;
			outline-width: 0;
		}
	}

	#results-container {
		opacity: 0;
		transition: all 0.3s ease-in-out;

		li {
			list-style: none;

			a:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
