//var 

$main-acent-color: #2ecc71;
$acent-color-1: #1B232C;
$acent-color-2: #34495e;
$acent-color-3: #3498db;





body {
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
}

.hero-bg {
	background-color: $main-acent-color;
	background: linear-gradient(135deg, $main-acent-color, $acent-color-3);
}

.lead {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: #444;
}

i {
	color: #2ecc71;
}

.navbar {
	margin-top: 20px;

	a {
		color: #555;
	}
}


.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

.nav .active {
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 2px 0px 0px #60A531;
}

@media (max-width: 767px)  {

	.nav li>a:hover, li>a:focus {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}

	.nav .active {
		text-decoration: none;
		background-color: #60A531;
		box-shadow: none;
	}
}




.nav-pills {

	li>a {
		position: relative;
		display: block;
		padding: 15px 7px;
		color: #ccc;

		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}

@import "elements/index";

//contact form

.main-form {
	margin-top: -200px;
	background: #fff;
	z-index: 300;
	padding: 30px;

	textarea {
		height: 200px;
	}
}

//top main menu bar

.navbar-header .navbar-toggle {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.navbar-toggle .icon-bar {
	background: #555;
}

//breadcrumb 

.breadcrumb-bar {
	width: 100%;
	padding: 15px 0px;
}

.breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
	text-align: left;
	background: transparent;

	a, span {
		color: #fff;
	}
}

.space {
	margin: 60px 0;
}


.dep .thumbnail {
	background-color: transparent;
	border: none;
}

.dep .thumbnail img {
	max-width: 250px;
}

/// about 

.about {

	img {
		max-height: 300px;
		padding: 20px;
	}
}


//ermenu

.nav-pills>li>a {
	font-size: 1.04rem;
	padding: 10px 5px;
	display: block;
	color: #fff;
}

.ermenu {
	padding: 10px 0;

	.active {
		box-shadow: none;
	}
}


.head-img {
	background: url(/img/energy-panels.jpg) 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	box-shadow: 1px 1px #000;
}

.gototop {
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.95);
	z-index: 999;
	margin: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	border-radius: 0;
}

//page head-img


.page-head-bg {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}