<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="200"
   height="200"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="tidal-power.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.4142136"
     inkscape:cx="164.50191"
     inkscape:cy="189.98465"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1680"
     inkscape:window-height="995"
     inkscape:window-x="0"
     inkscape:window-y="30"
     inkscape:window-maximized="1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-151.9805,-138.23176)">
    <g
       id="g3357"
       transform="matrix(0.60345495,0,0,0.60345495,60.267115,134.12413)">
      <g
         style="fill:#ccff00"
         id="g4054">
        <g
           id="g3971"
           style="fill:#ccff00">
          <path
             transform="matrix(1.2288162,0,0,1.2288162,-34.213261,-77.955268)"
             d="m 421.2336,203.83405 c 0,74.47856 -60.37681,134.85536 -134.85537,134.85536 -74.47855,0 -134.85536,-60.3768 -134.85536,-134.85536 0,-74.47856 60.37681,-134.855367 134.85536,-134.855367 74.47856,0 134.85537,60.376807 134.85537,134.855367 z"
             sodipodi:ry="134.85536"
             sodipodi:rx="134.85536"
             sodipodi:cy="203.83405"
             sodipodi:cx="286.37823"
             id="path3781"
             style="fill:#ccff00;fill-opacity:1;stroke:none"
             sodipodi:type="arc" />
        </g>
        <g
           id="g4042"
           transform="translate(-316,36)"
           style="fill:#ccff00">
          <g
             style="opacity:0.8;fill:#ccff00"
             transform="matrix(2.8303356,0,0,2.8303356,693.57306,-21.96385)"
             id="g3996" />
        </g>
      </g>
      <path
         sodipodi:nodetypes="cccccccccccc"
         inkscape:connector-curvature="0"
         id="path3958"
         d="m 277.9805,290.34858 c 0,0 33.19651,33.1965 47.66478,47.66477 26.78661,-1.53317 46.80939,-7.35437 66.83522,-17.66477 20.17988,-10.38971 38.75431,-25.28436 53.25,-42.75 14.38221,-17.32891 23.36012,-35.14207 30.5,-56.5 5.28549,-15.81079 7.50596,-35.09624 7.0625,-52.9375 -13.63443,-13.63443 -42.0625,-42.0625 -42.0625,-42.0625 l -55,43.5 -80.5,-80.500006 -68.25,57.750006 81.25,81.25 z"
         style="opacity:0.5;fill:#666666;stroke:none" />
      <g
         style="fill:#00ccff"
         transform="matrix(4.8309412,0,0,4.8309412,225.85757,71.765757)"
         id="g3923">
        <g
           style="fill:#00ccff"
           id="g3881">
          <path
             style="fill:#00ccff"
             inkscape:connector-curvature="0"
             d="M 46.429,15.001 C 45.18,10.102 40.195,7.139 35.291,8.385 31.58,9.329 24.802,13.482 22.27,17.57 22.166,17.535 22.064,17.506 21.958,17.474 21.954,12.666 18.42,5.588 15.781,2.83 12.284,-0.826 6.485,-0.958 2.828,2.54 c -3.655,3.497 -3.784,9.295 -0.289,12.951 2.47,2.583 8.676,6.11 13.397,6.735 0.016,0.477 0.098,0.938 0.242,1.371 -3.763,2.932 -7.326,9.197 -8.131,12.697 -1.133,4.933 1.945,9.846 6.878,10.979 4.932,1.133 9.847,-1.943 10.979,-6.876 0.805,-3.502 0.332,-10.694 -1.776,-14.976 0.223,-0.225 0.42,-0.475 0.595,-0.741 4.319,2.037 11.584,2.351 15.087,1.458 4.905,-1.245 7.865,-6.234 6.619,-11.137 z M 20.81,26.588 c -2.455,0 -4.453,-1.996 -4.453,-4.451 0,-2.457 1.998,-4.452 4.453,-4.452 2.457,0 4.455,1.996 4.455,4.452 0,2.455 -1.998,4.451 -4.455,4.451 z"
             id="path3883" />
          <path
             style="fill:#00ccff"
             inkscape:connector-curvature="0"
             d="m 20.81,20.334 c -0.991,0 -1.801,0.807 -1.801,1.803 0,0.992 0.81,1.802 1.801,1.802 0.994,0 1.803,-0.81 1.803,-1.802 -0.002,-0.996 -0.809,-1.803 -1.803,-1.803 z"
             id="path3885" />
        </g>
        <g
           style="fill:#00ccff"
           id="g3887" />
        <g
           style="fill:#00ccff"
           id="g3889" />
        <g
           style="fill:#00ccff"
           id="g3891" />
        <g
           style="fill:#00ccff"
           id="g3893" />
        <g
           style="fill:#00ccff"
           id="g3895" />
        <g
           style="fill:#00ccff"
           id="g3897" />
        <g
           style="fill:#00ccff"
           id="g3899" />
        <g
           style="fill:#00ccff"
           id="g3901" />
        <g
           style="fill:#00ccff"
           id="g3903" />
        <g
           style="fill:#00ccff"
           id="g3905" />
        <g
           style="fill:#00ccff"
           id="g3907" />
        <g
           style="fill:#00ccff"
           id="g3909" />
        <g
           style="fill:#00ccff"
           id="g3911" />
        <g
           style="fill:#00ccff"
           id="g3913" />
        <g
           style="fill:#00ccff"
           id="g3915" />
      </g>
    </g>
  </g>
</svg>
