<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="350"
   height="350"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="purpose.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2"
     inkscape:cx="140.90123"
     inkscape:cy="241.96385"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1680"
     inkscape:window-height="995"
     inkscape:window-x="0"
     inkscape:window-y="30"
     inkscape:window-maximized="1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0" />
  <metadata
     id="metadata7">
    <rdf:rdf>
      <cc:work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:work>
    </rdf:rdf>
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-151.9805,11.578943)">
    <g
       id="g3001">
      <g
         transform="matrix(1.0552066,0,0,1.0556293,-8.3903291,-18.76446)"
         style="fill:#37abc8"
         id="g4054">
        <g
           id="g3971"
           style="fill:#37abc8">
          <path
             transform="matrix(1.2288162,0,0,1.2288162,-34.213261,-77.955268)"
             d="m 421.2336,203.83405 c 0,74.47856 -60.37681,134.85536 -134.85537,134.85536 -74.47855,0 -134.85536,-60.3768 -134.85536,-134.85536 0,-74.47856 60.37681,-134.855367 134.85536,-134.855367 74.47856,0 134.85537,60.376807 134.85537,134.855367 z"
             sodipodi:ry="134.85536"
             sodipodi:rx="134.85536"
             sodipodi:cy="203.83405"
             sodipodi:cx="286.37823"
             id="path3781"
             style="fill:#37abc8;fill-opacity:1;stroke:none"
             sodipodi:type="arc" />
        </g>
        <g
           id="g4042"
           transform="translate(-316,36)"
           style="fill:#37abc8">
          <g
             style="opacity:0.8;fill:#37abc8"
             transform="matrix(2.8303356,0,0,2.8303356,693.57306,-21.96385)"
             id="g3996" />
        </g>
      </g>
      <g
         transform="matrix(0.67571712,0,0,0.6759878,374.15465,42.74467)"
         id="g3006">
        <path
           id="path2995"
           d="m -69.564082,109.28751 c 1.872676,-0.0656 3.68706,-0.46635 5.414003,-1.17315 l 0.0073,-0.007 c 5.785624,-2.42646 9.560125,-8.270382 9.363384,-14.558788 -0.138446,-4.211701 -4.525028,-53.367648 -8.197515,-93.8815923 -0.298754,-3.3300131 -0.743242,-6.1936785 -3.176993,-7.665588 l -2.266158,-1.2751687 -2.251584,0.9472681 c -3.162419,1.3261758 -3.570473,4.9185094 -3.942094,7.8040349 -4.947656,40.834558 -10.835294,90.486 -10.68956,95.018315 0.123873,4.080541 1.828956,7.855039 4.801922,10.645839 2.987539,2.80537 6.864053,4.26271 10.937308,4.14612 z m 0.233173,-72.74293 c 4.095115,45.847794 4.87479,55.84512 4.91851,57.309743 0.07287,2.309878 -1.318889,4.466735 -3.453887,5.35571 -0.641228,0.276894 -1.304316,0.415341 -2.003837,0.437201 -1.49377,0.05829 -2.914672,-0.495494 -4.014961,-1.522916 -1.100289,-1.034709 -1.719657,-2.411891 -1.770663,-3.912948 -0.03643,-2.543051 2.295304,-23.812872 6.324838,-57.66679 z m 5.188117,212.18814 c -1.73423,-0.72138 -3.548614,-1.11486 -5.42129,-1.18044 -4.073255,-0.11659 -7.949769,1.34803 -10.930021,4.13883 -2.972966,2.7908 -4.678049,6.5653 -4.801923,10.64584 -0.145734,4.53232 5.741904,54.18376 10.689561,95.01832 0.37162,2.88552 0.779674,6.48514 3.942094,7.80403 l 2.251584,0.94727 2.266158,-1.27517 c 2.433751,-1.47191 2.878239,-4.33557 3.176992,-7.66559 3.672487,-40.51394 8.059069,-89.66989 8.197516,-93.88159 0.189454,-6.28112 -3.585047,-12.12504 -9.370671,-14.5515 z m -5.188117,71.56249 c -4.029534,-33.85392 -6.353985,-55.12374 -6.324838,-57.66679 0.04372,-1.50106 0.670374,-2.88553 1.770663,-3.91295 1.093002,-1.02742 2.521191,-1.58121 4.014961,-1.52291 0.706808,0.0219 1.369896,0.15302 2.003837,0.42991 2.134998,0.88897 3.519467,3.04583 3.453887,5.35571 -0.04372,1.47191 -0.830682,11.46923 -4.91851,57.31703 z M -122.63298,108.7483 c 1.9164,3.1187 4.94766,5.29013 8.51813,6.13538 3.57048,0.83068 7.24296,0.22589 10.36166,-1.69051 1.42819,-0.88897 2.65964,-2.01841 3.67978,-3.34458 l 0.007,-0.007 c 3.410162,-4.4886 3.730776,-10.740567 0.743237,-15.542489 -1.996547,-3.213427 -27.499937,-39.501096 -48.565727,-69.383773 -1.72694,-2.455611 -3.36645,-4.488595 -5.91678,-4.539602 l -2.33174,0.02186 -1.32618,1.748803 c -1.8581,2.448325 -0.56836,5.428577 0.44449,7.840469 14.50049,34.021511 32.22899,75.300552 34.38585,78.761732 z m 15.95055,-9.880741 c 1.10029,1.763381 0.9837,4.073251 -0.2769,5.720041 -0.3789,0.50278 -0.82339,0.90355 -1.36261,1.23874 -1.13672,0.72138 -2.49204,0.92541 -3.81093,0.61208 -1.31889,-0.30604 -2.41918,-1.093 -3.13327,-2.25158 -1.17316,-1.95283 -8.91161,-19.557455 -20.98564,-47.720475 23.77644,33.846631 28.87711,41.271759 29.56935,42.401194 z m 88.708046,144.604181 c -2.674212,-4.99138 -8.248522,-7.84047 -13.83012,-7.12638 l -0.01457,-0.007 c -1.66865,0.2186 -3.242573,0.72866 -4.736342,1.51562 -3.213427,1.74152 -5.581598,4.62705 -6.645453,8.13194 -1.056569,3.49761 -0.692235,7.21381 1.056569,10.4491 1.923683,3.59233 28.811535,39.58854 51.021337,69.14331 1.58121,2.08399 3.51218,4.69262 6.565299,4.31372 l 2.178718,-0.28418 1.187729,-2.00384 c 1.23145,-2.23701 0.29147,-4.66348 -0.969129,-7.38869 -15.360325,-33.17654 -34.036088,-73.4063 -35.814038,-76.7436 z m -16.548051,8.8606 c -0.641228,-1.18773 -0.779675,-2.54305 -0.386195,-3.84008 0.400768,-1.28974 1.253309,-2.3536 2.441038,-2.98025 0.546501,-0.30604 1.122149,-0.4955 1.748804,-0.56108 2.06213,-0.26961 4.109688,0.77239 5.09339,2.60863 0.626654,1.15859 4.510455,9.29052 21.932908,46.81693 -18.347862,-24.54154 -29.72237,-40.0476 -30.829945,-42.04415 z M -227.26971,92.907055 c 32.88479,24.716425 72.93967,54.628245 76.94006,56.763245 3.58505,1.93825 7.72388,2.34631 11.62954,1.16587 3.89838,-1.18045 7.1118,-3.81094 9.03549,-7.3887 0.88168,-1.66865 1.44276,-3.43203 1.69051,-5.28284 v -0.0146 c 0.77967,-6.21553 -2.38275,-12.4165 -7.92791,-15.38218 -3.71621,-1.98926 -48.47829,-22.770875 -85.3999,-39.843568 -3.03126,-1.399043 -5.7419,-2.455611 -8.22666,-1.078429 l -2.23701,1.31889 -0.30604,2.419178 c -0.42263,3.402879 2.48476,5.55245 4.80192,7.323114 z m 86.81351,38.371655 c 2.04027,1.08572 3.21343,3.36645 2.91467,5.65447 -0.0874,0.69952 -0.29146,1.34075 -0.62665,1.96012 -0.69952,1.32617 -1.89454,2.27344 -3.33001,2.71064 -1.43548,0.44449 -2.94382,0.29147 -4.27,-0.42991 -2.22244,-1.23145 -19.47001,-13.88113 -46.78049,-34.3057 41.7454,19.38257 50.79545,23.70358 52.09248,24.41038 z M 88.30914,261.68115 C 55.06002,238.2399 14.684519,209.87285 11.099472,207.65041 c -5.348424,-3.32272 -12.299917,-2.97296 -17.291293,0.8234 h -0.01457 c -1.479196,1.13672 -2.717932,2.5139 -3.723493,4.09511 -2.127711,3.47575 -2.812659,7.55629 -1.872677,11.53482 0.925408,3.96395 3.344586,7.33769 6.820333,9.48726 3.854654,2.39003 49.797172,22.11507 87.636912,38.2405 2.68149,1.12943 5.99693,2.57948 8.72215,0.49549 l 1.94555,-1.4792 0.0291,-2.59405 c -0.0656,-2.83452 -2.30988,-4.64891 -5.04238,-6.57259 z M 0.096584,225.39348 c -1.282456,-0.78696 -2.178717,-2.01112 -2.513905,-3.49761 -0.335187,-1.45733 -0.1093,-2.96567 0.692235,-4.22627 0.357047,-0.61208 0.808821,-1.10758 1.377182,-1.52292 1.836244,-1.40633 4.401156,-1.53749 6.361273,-0.31332 1.238735,0.7651 9.516405,6.44871 47.181261,32.92122 C 21.85461,235.30337 2.275302,226.6978 0.096584,225.39348 z M -145.95035,188.20226 c 2.60134,-2.78351 3.97852,-6.41228 3.86194,-10.22321 -0.0656,-1.75609 -0.42992,-3.46117 -1.09301,-5.07153 l -0.007,-0.0146 c -2.28073,-5.39943 -7.74574,-8.95533 -13.64066,-8.76588 -3.94938,0.12387 -50.0012,4.23356 -87.95023,7.68016 -3.1187,0.28418 -5.80749,0.69952 -7.17738,2.98025 l -1.19502,2.10586 0.88169,2.10585 c 1.24602,2.96567 4.61247,3.34458 7.31583,3.70163 38.26236,4.6489 84.78052,10.15035 89.02137,10.01919 3.81093,-0.11659 7.35955,-1.71966 9.98275,-4.51775 z m -64.2831,-10.4491 c 42.94769,-3.81822 52.30379,-4.56146 53.69555,-4.59789 2.17143,-0.0656 4.18984,1.23145 5.01323,3.22071 0.26233,0.6048 0.39348,1.23145 0.41535,1.87996 0.051,1.39905 -0.46635,2.73251 -1.43548,3.76722 -0.95456,1.03471 -2.25158,1.62493 -3.65791,1.66136 -2.39004,0.0292 -22.31182,-2.15686 -54.03074,-5.93136 z m 322.14415,-2.96568 c -1.37718,-2.28073 -4.05868,-2.69607 -7.1701,-2.98025 -37.9636,-3.43931 -84.00085,-7.549 -87.957517,-7.67287 -5.894925,-0.18946 -11.359935,3.35187 -13.647953,8.76587 l -0.0073,0.0146 c -0.670374,1.61035 -1.034709,3.30815 -1.093002,5.06424 -0.09473,3.81093 1.267882,7.44699 3.876514,10.2305 2.615918,2.78351 6.157245,4.39387 9.982753,4.50317 4.248132,0.13116 50.759012,-5.37757 89.028665,-10.02647 2.70336,-0.33519 6.06981,-0.72867 7.30854,-3.68706 l 0.88169,-2.10585 -1.2023,-2.10586 z m -95.754272,8.89704 c -1.399043,-0.051 -2.703358,-0.61937 -3.6652,-1.66865 -0.954555,-1.03471 -1.479196,-2.36088 -1.420903,-3.75993 0,-0.6558 0.145734,-1.28245 0.415341,-1.87996 0.816108,-1.99655 2.841805,-3.30087 5.013236,-3.228 1.362609,0.0364 10.740568,0.77239 53.695548,4.60518 -31.72621,3.76722 -51.65528,5.96051 -54.038022,5.93136 z m -144.400148,40.40465 c 0.92541,-3.96396 0.25503,-8.0445 -1.88725,-11.51296 -1.00556,-1.59578 -2.2443,-2.95839 -3.72349,-4.10969 l -0.0146,-0.007 c -4.99867,-3.78179 -11.94287,-4.13884 -17.2913,-0.8234 -3.58504,2.22244 -43.96055,30.59677 -77.1951,54.03802 -2.7325,1.92369 -5.01323,3.74536 -5.04967,6.57988 l 0.0292,2.58677 1.93826,1.47191 c 2.7325,2.0767 6.04794,0.62665 8.73673,-0.48092 37.83973,-16.12543 83.78226,-35.86505 87.62234,-38.24779 3.47574,-2.135 5.90221,-5.50873 6.8349,-9.49454 z m -9.39982,-2.1933 c -0.33519,1.46463 -1.21687,2.69608 -2.49933,3.47575 -2.19329,1.31889 -21.75803,9.93175 -53.09804,23.36839 37.65756,-26.45794 45.91337,-32.13427 47.18126,-32.90665 1.9674,-1.22417 4.52502,-1.10758 6.34669,0.29875 0.56837,0.42991 1.02743,0.92541 1.39176,1.52292 0.79425,1.26788 1.02742,2.77622 0.67766,4.24084 z m 125.556794,-83.73853 v 0.0146 c 0.240461,1.85082 0.808822,3.6142 1.69051,5.27556 1.945544,3.57776 5.13711,6.20825 9.050057,7.39598 3.898374,1.16587 8.029922,0.7651 11.629542,-1.16587 3.993101,-2.14957 44.047987,-32.06139 76.940057,-56.785099 2.31717,-1.748803 5.22455,-3.898374 4.78007,-7.301254 l -0.29876,-2.419178 -2.23701,-1.326176 c -2.50662,-1.369896 -5.18812,-0.3279 -8.21937,1.078429 -36.92161,17.079978 -81.683694,37.847018 -85.399901,39.850858 -5.55245,2.96568 -8.71487,9.15936 -7.935195,15.38218 z m 12.489371,-6.8932 C 1.68508,130.57191 10.742424,126.2509 52.4951,106.86105 25.18463,127.27833 7.929766,139.93529 5.714615,141.17403 c -1.333463,0.7068 -2.834519,0.8744 -4.284568,0.42262 -1.42819,-0.4372 -2.615919,-1.38447 -3.31544,-2.71064 -0.357047,-0.61208 -0.553788,-1.25331 -0.626655,-1.95283 -0.291467,-2.30259 0.874402,-4.58332 2.914673,-5.66904 z M -107.4111,243.95266 c -1.42819,-0.75782 -2.92925,-1.23874 -4.51774,-1.45005 h -0.007 c -5.32657,-0.67038 -10.63127,2.03298 -13.18161,6.79118 -1.71237,3.18428 -19.49916,41.50494 -34.10166,73.09998 -1.20231,2.60135 -2.11314,4.9258 -0.92541,7.05351 l 1.12215,1.90911 2.0767,0.26232 c 2.90739,0.37162 4.75092,-2.12771 6.26655,-4.1024 21.16052,-28.14116 46.7732,-62.44685 48.59487,-65.86431 1.65408,-3.06769 2.01112,-6.60902 0.99827,-9.96089 -1.00556,-3.35187 -3.25714,-6.09166 -6.32483,-7.73845 z m -1.94555,13.76454 c -1.06385,1.91639 -11.88457,16.67921 -29.3726,40.06217 16.59905,-35.73389 20.2934,-43.48691 20.89819,-44.59449 0.9327,-1.7488 2.88553,-2.76165 4.83107,-2.49933 0.61209,0.0729 1.15859,0.24046 1.69051,0.53921 1.13673,0.59022 1.94555,1.61036 2.31717,2.8491 0.37891,1.23144 0.25503,2.52119 -0.36434,3.64334 z m 72.189149,-148.61185 c 0.976416,1.26788 2.149571,2.33173 3.51218,3.18427 2.972966,1.82896 6.470573,2.4119 9.873453,1.61036 3.388306,-0.80153 6.273832,-2.86366 8.117362,-5.83663 2.04027,-3.30087 18.930796,-42.634368 32.739056,-75.045523 0.96184,-2.288018 2.20786,-5.122537 0.415341,-7.454275 l -1.260596,-1.668649 -2.215151,-0.02915 c -2.455611,0.05829 -3.993101,1.981977 -5.632604,4.328288 -20.060232,28.461775 -44.361312,63.022501 -46.255849,66.09748 -2.856378,4.583322 -2.557624,10.529259 0.692235,14.799249 l 0.01457,0.0146 z m 6.302979,-10.470965 c 0.648515,-1.063855 5.523304,-8.146508 28.184881,-40.39007 -11.520242,26.822271 -18.894363,43.596205 -20.001939,45.461605 -0.692234,1.093 -1.726943,1.8581 -2.987539,2.14228 -1.260595,0.29147 -2.550338,0.10201 -3.628767,-0.58294 -0.524641,-0.30604 -0.947268,-0.69952 -1.297029,-1.18772 -1.209589,-1.57393 -1.318889,-3.75993 -0.269607,-5.443155 z m -39.173195,19.419005 c -32.884793,0 -59.641483,26.75669 -59.641483,59.64148 0,32.88479 26.74941,59.64148 59.641483,59.64148 32.88479,0 59.634194,-26.75669 59.634194,-59.64148 0,-32.88479 -26.749404,-59.64148 -59.634194,-59.64148 z m 0,104.7096 c -24.847581,0 -45.068123,-20.21325 -45.068123,-45.06812 0,-24.85487 20.213256,-45.06812 45.068123,-45.06812 24.847581,0 45.060833,20.21325 45.060833,45.06812 0,24.85487 -20.213252,45.06812 -45.060833,45.06812 z"
           inkscape:connector-curvature="0"
           style="fill:#ffff00" />
        <path
           sodipodi:type="arc"
           style="fill:#ffff00;fill-opacity:1;stroke:none"
           id="path3004"
           sodipodi:cx="-210"
           sodipodi:cy="187.54172"
           sodipodi:rx="51"
           sodipodi:ry="51"
           d="m -159,187.54172 c 0,28.16652 -22.83348,51 -51,51 -28.16652,0 -51,-22.83348 -51,-51 0,-28.16652 22.83348,-51 51,-51 28.16652,0 51,22.83348 51,51 z"
           transform="translate(141.9805,-9.1931443)" />
      </g>
    </g>
  </g>
</svg>
