<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="350"
   height="350"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="renewable-energy.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.4142136"
     inkscape:cx="114.07107"
     inkscape:cy="101.72578"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:window-width="1680"
     inkscape:window-height="995"
     inkscape:window-x="0"
     inkscape:window-y="30"
     inkscape:window-maximized="1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-151.98051,11.752088)">
    <g
       id="g4110"
       transform="matrix(1.0560462,0,0,1.0559947,-8.5179235,-18.940092)">
      <path
         transform="matrix(1.2288162,0,0,1.2288162,-34.213261,-77.955268)"
         d="m 421.2336,203.83405 c 0,74.47856 -60.37681,134.85536 -134.85537,134.85536 -74.47855,0 -134.85536,-60.3768 -134.85536,-134.85536 0,-74.47856 60.37681,-134.855367 134.85536,-134.855367 74.47856,0 134.85537,60.376807 134.85537,134.855367 z"
         sodipodi:ry="134.85536"
         sodipodi:rx="134.85536"
         sodipodi:cy="203.83405"
         sodipodi:cx="286.37823"
         id="path3781"
         style="fill:#00d4aa;fill-opacity:1;stroke:none"
         sodipodi:type="arc" />
      <path
         sodipodi:nodetypes="ccccccccc"
         transform="translate(151.9805,6.8068557)"
         inkscape:connector-curvature="0"
         id="path4108"
         d="m 135.33289,286.20882 c 0,0 30.86068,30.86068 44.625,44.625 21.25263,-1.84599 40.22704,-7.3717 57.30156,-15.68056 19.26735,-9.37594 32.79072,-19.45881 47.97235,-34.58021 10.51306,-10.47135 19.468,-22.34038 27.83973,-39.01067 C 272.19225,200.6831 191.97949,120.47034 191.97949,120.47034 l -7.07106,41.36575 -40.83542,-40.83542 z"
         style="opacity:0.5;fill:#666666;stroke:none" />
      <g
         id="g4082">
        <path
           sodipodi:nodetypes="cccccc"
           inkscape:connector-curvature="0"
           id="rect4078"
           d="m 305.69296,239.34857 27,0 -0.0312,98.1875 c 0,0 -8.9584,0.79769 -13.46246,0.6875 -4.53352,0.14073 -13.50629,-0.375 -13.50629,-0.375 z"
           style="fill:#b3b3b3;fill-opacity:1;stroke:none" />
        <path
           sodipodi:nodetypes="cccccc"
           inkscape:connector-curvature="0"
           id="rect4080"
           d="m 310.19296,255.34857 8.5,0 0,82.88389 -3.93445,-0.007 -4.56555,-0.16987 z"
           style="fill:#ececec;fill-opacity:1;stroke:none" />
      </g>
      <rect
         ry="4.7729707"
         y="284.25488"
         x="285.4469"
         height="9.5459414"
         width="66.114487"
         id="rect4088"
         style="fill:#e3dbdb;fill-opacity:1;stroke:none" />
      <rect
         ry="18.292307"
         y="186.16396"
         x="276.69296"
         height="81.369232"
         width="82"
         id="rect3990"
         style="fill:#e3dbdb;fill-opacity:1;stroke:none" />
      <rect
         style="fill:#e3dbdb;fill-opacity:1;stroke:none"
         id="rect3992"
         width="66.230766"
         height="81.369232"
         x="285.52371"
         y="206.97934" />
      <g
         transform="matrix(0.63076923,0,0,0.63076923,-276.47938,76.19024)"
         id="g4010">
        <rect
           y="78.598572"
           x="970.48053"
           height="99.5"
           width="16"
           id="rect4000"
           style="fill:#666666;fill-opacity:1;stroke:none"
           ry="8" />
        <rect
           style="fill:#e3e2db;fill-opacity:1;stroke:none"
           id="rect4008"
           width="7.25"
           height="99.5"
           x="972.98053"
           y="79.848572"
           ry="3.625" />
      </g>
      <g
         transform="matrix(0.63076923,0,0,0.63076923,-324.57553,76.347932)"
         id="g4014">
        <rect
           ry="8"
           style="fill:#666666;fill-opacity:1;stroke:none"
           id="rect4016"
           width="16"
           height="99.5"
           x="970.48053"
           y="78.598572" />
        <rect
           ry="3.625"
           y="79.848572"
           x="972.98053"
           height="99.5"
           width="7.25"
           id="rect4018"
           style="fill:#e3e2db;fill-opacity:1;stroke:none" />
      </g>
      <rect
         y="182.88989"
         x="276.70032"
         height="65.089462"
         width="81.954399"
         id="rect3994"
         style="fill:#e3dbdb;fill-opacity:1;stroke:none" />
      <rect
         ry="0"
         y="185.53319"
         x="279.5314"
         height="64.653847"
         width="6.3076925"
         id="rect4020"
         style="fill:#f2f2f2;fill-opacity:1;stroke:none" />
      <rect
         style="fill:#f2f2f2;fill-opacity:1;stroke:none"
         id="rect4022"
         width="6.3076925"
         height="26.956896"
         x="288.56335"
         y="264.7074"
         ry="0" />
      <path
         sodipodi:nodetypes="ccaccacc"
         inkscape:connector-curvature="0"
         id="rect4024"
         d="m 279.52937,250.18007 6.30247,6.3e-4 c 0,0 0.57822,4.96371 1.76566,7.09023 1.69304,3.03198 7.28565,7.44668 7.28565,7.44668 l -6.28942,-0.0116 c 0,0 -4.57916,-3.92025 -6.14056,-6.44295 -1.50787,-2.43622 -2.9238,-8.08275 -2.9238,-8.08275 z"
         style="fill:#f2f2f2;fill-opacity:1;stroke:none" />
    </g>
  </g>
</svg>
